{% extends 'base.html.twig' %}

{% block title %}Payroll list{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Payroll list</h1>
            </div>
        </div>
    </div>
{% endblock %}
